.popup__save-button {
  border: none;
  max-width: 358px;
  width: 100%;
  margin: 0;
  text-align: center;
  min-height: 50px;
  background-color: #000000;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 18px;
}

.popup__save-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 340px) {
  .popup__save-button {
    max-width: 258px;
    max-height: 46px;
    min-height: 46px;
    width: 100%;
    margin-top: 35px;
    font-size: 14px;
    line-height: 17px;
  }
}
