.header__text {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin: 0;
}

@media (max-width: 767px) {
  .header__text {
    display: none;
  }
}
